.favorite-item h2 {
  font-size: 1.15rem;
  margin: 0.25rem 0;
}

.favorite-item p {
  margin: 0.25rem 0;
}
.topStatList {
  clear: both;
  display: table;

  text-align: center;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  border-radius: 0 0 3px 3px;
  position: relative;
}
.topStatList .topStat {
  border-left: 1px solid #e8e8e8;
  padding: 1rem;
  width: 25%;
  display: table-cell;
}
.topStatList .allStatContainer {
  margin-top: 1rem;
  font-size: 3rem;
  display: block;
}
