.product-item h2 {
  font-size: 1.15rem;
  margin: 0.25rem 0;
}

.product-item h2.is-fav {
  color: #ff2058;
}

.product-item p {
  margin: 0.25rem 0;
}

.product-item img {
  width: 40%;
  max-width: 300px;
  object-fit: cover;
}
.product-item .info {
  display: flex;
  justify-content: space-around;
}
.product-item h2 {
  font-size: 2rem;
}
.product-item .detail p {
  font-size: 1.2rem;
}
