.player-item h2 {
  font-size: 1.15rem;
  margin: 0.25rem 0;
}

.player-item h2.is-fav {
  color: #ff2058;
}

.player-item p {
  margin: 0.25rem 0;
}

.player-item img {
  width: 40%;
  max-width: 300px;
  object-fit: cover;
}
.player-item .info {
  display: flex;
  justify-content: space-around;
}
.player-item h2 {
  font-size: 2rem;
}
.player-item .detail p {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}
@media (max-width: 499px) {
  .player-item img {
    margin-right: 15px;
    height: 40vw;
  }
  .player-item .detail p {
    font-size: 0.8rem;
    font-weight: bold;
  }
}
